{{ define "main" }}
  <div class="landing-page">
    <h1>Continuous Design</h1>
    <h2 class="baffle">Site under construction</h1>
  </div>
  </div>
{{ end }}
{{define "footer"}}
 {{ partial "footer.html" .}}
{{ end }}
