{{define "header"}}
 {{ partial "header.html" .}}
{{ end }}
{{ define "main" }}
  <div class="container">
    {{ range .Paginator.Pages }}
        <article>
          <div class="row">
            <h2 class="offset-1 mb-2 summary-post-title"><a class="baffle forget-me" href="{{ .URL }}">{{ .Title }}</a></h2>
          </div>
          <div class="row">
            <div class="offset-1 col-sm mb-3 date-pub">
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;{{dateFormat "Monday 2 January 2006" .Date}}
            </div>
          </div>
          {{if isset .Params "image"}}
          <div class="row">
            <img class="cover" src="{{ .Site.BaseURL }}{{.Params.image}}"></img>
          </div>
          {{end}}
          <div class="row">
            <div class="col-12 mb-3">
              {{ if (isset .Params "description") }}
                {{ .Description }}
              {{ else }}
                {{ .Summary }}
              {{ end }}
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-5 text-right">
              <a class="read-post" href="{{ .URL }}">Read post ></a>
            </div>
          </div>
        </article>
    {{ end }}
    <div class="row">
      <div class="pagination-container">
        {{ partial "pagination.html" . }}
      </div>
    </div>
  </div>
{{ end }}
{{define "footer"}}
 {{ partial "footer.html" .}}
{{ end }}
