<!-- <div class="container whole-footer">
  <div class="row">
      <div class="footer">Blog <em>{{.Site.Title}}</em> by <em>Lioda</em></div>
  </div>
</div> -->

<script type="text/javascript" src="/js/lioda.js"></script>
