<div class="container whole-header">
  <div class="row ">
    <ul class="social-list">
      <li><a href="https://gitlab.com/{{.Site.Params.author.gitlab}}" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/{{.Site.Params.author.github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/{{.Site.Params.author.twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="/index.xml" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="row">
      <h1 class="header col-12"><a class="forget-me" href="/">{{.Site.Title}}</a></h1>
  </div>
</div>
