<ul class="pagination">
  {{if .Paginator.HasPrev }}
    <li>
      <a href="{{.Paginator.First.URL}}" aria-label="First"><span aria-hidden="true">««</span></a>
    </li>
    <li>
      <a href="{{.Paginator.Prev.URL}}" aria-label="Previous"><span aria-hidden="true">«</span></a>
    </li>
  {{ else }}
    <li class="disabled">
      <span aria-hidden="true">««</span>
    </li>
    <li class="disabled">
      <span aria-hidden="true">«</span>
    </li>
  {{ end }}

  {{ range where .Paginator.Pagers "PageNumber" "<" .Paginator.PageNumber }}
    <li><a href="{{.URL}}">{{.PageNumber}}</a></li>
  {{ end }}
  <li class="active"><a href="{{.Paginator.URL}}">{{.Paginator.PageNumber}}</a></li>
  {{ range where .Paginator.Pagers "PageNumber" ">" .Paginator.PageNumber }}
    <li><a href="{{.URL}}">{{.PageNumber}}</a></li>
  {{ end }}

  {{if .Paginator.HasNext }}
    <li>
      <a href="{{.Paginator.Next.URL}}" aria-label="Next"><span aria-hidden="true">»</span></a>
    </li>
    <li>
      <a href="{{.Paginator.First.URL}}" aria-label="Last"><span aria-hidden="true">»»</span></a>
    </li>
  {{ else }}
    <li class="disabled">
      <a aria-label="Next"><span aria-hidden="true">»</span></a>
    </li>
    <li class="disabled">
      <a aria-label="Last"><span aria-hidden="true">»»</span></a>
    </li>
  {{ end }}
</ul>
