<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>{{.Title}}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/lioda.css" />
    <script type="text/javascript" src="/js/baffle.min.js"></script>
  </head>
  <body class="grid">
    <main>{{ block "main" . }}{{ end }}</main>
    <footer>{{ block "footer" . }}{{ end }}</footer>
  </body>
</html>
