{{define "header"}}
 {{ partial "header.html" .}}
{{ end }}
{{ define "main" }}
  <div class="container">
   <div class="row">
     <h1 class="post-title baffle">{{.Title}}</h1>
   </div>
   <div class="row">
     <div class="col-sm mb-4 date-pub">
       <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;{{dateFormat "Monday 2 January 2006" .Date}}
     </div>
     <div class="col-sm mb-4 date-pub">
       {{.WordCount}} words.
     </div>
     <div class="col-sm mb-4 date-pub">
       <i class="fa fa-tag" aria-hidden="true"></i>
       {{ range $index, $element := .Params.tags }}
         {{ if $index }}
         /
         {{ end }}
         {{ $element }}
       {{ end }}
     </div>
   </div>
   <div class="row">
     {{.TableOfContents}}
   </div>
   <div class="row post-content d-block">
     {{.Content}}
   </div>
  </div>
{{ end }}
{{define "footer"}}
 {{ partial "footer.html" .}}
{{ end }}
