@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #f5f5f5;
  --background-color: #1f2937;
  /* --background-start-rgb: var(bg-stone-700);
  --background-end-rgb: var(bg-stone-700); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground-rgb);
  background-color: var(--background-color);
}



.grid-section {
  grid-template-columns: auto minmax(auto, 800px) auto;
}

/* background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--bg-gray-800))
  )
  rgb(var(--bg-stone-700)); */